<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approver station</title>


    <!-- BRING IN STYLES =================================================================================== -->
    <!-- =================================================================================================== -->

            <link rel="stylesheet" href="/public/styles/adminApproverPageStyles/admin_approverPageStyles/2025/21st/adminApproverPageStyles.css">


    <!-- BRING IN STYLES =================================================================================== -->
    <!-- =================================================================================================== -->




    <!-- BRING IN SCRIPTS ================================================================================== -->
    <!-- =================================================================================================== -->



         <!-- NAV BAR SCRIPTS ============================================================================== -->
         <!-- ============================================================================================== -->



         <!-- INTRO SECTION SCRIPTS ======================================================================== -->
         <!-- ============================================================================================== -->

               <script src="/public/scripts/adminApproverPageScripts/admin_approverPageScripts/2025/21st/adminApproverPageScripts.js" defer></script>


    <!-- BRING IN SCRIPTS ================================================================================== -->
    <!-- =================================================================================================== -->


</head>



<body class="bodyControl">

    <div class="mainContentControl">



        <!-- NAV BAR MAIN CONTAINER ======================================================================== -->
        <!-- =============================================================================================== -->


        <!-- NAV BAR MAIN CONTAINER ======================================================================== -->
        <!-- =============================================================================================== -->





        <!-- APPROVER INTRO SECTION CONTENT CONTAINER ====================================================== -->
        <!-- =============================================================================================== -->

                <div class="hpApproverIntroSection">





                    <!-- APPROVER MAIN BRANCHES SECTION ==================================================== -->
                    <!-- =================================================================================== -->

                            <div class="hpApproverMainBranchesSectionContentContainer">

                                <div class="hpApproverMainBranchesSectionContentResizer">
                                
                                    <!-- APPROVER HOME PAGE HEADLINE CONTAINER CONTAINER =================== -->
                                    <!-- =================================================================== -->

                                        <div class="hpApproverMainBranchesSectionHeadlineContainer">
                                            <div class="hpApproverMainBranchesSectionHeadlineActual">
                                                CURRENT PAGE DATA BRANCHES
                                            </div>
                                        </div>
                                
                                    <!-- APPROVER HOME PAGE MAIN BRANCH DIVIDER LINE ======================= -->
                                    <!-- =================================================================== -->

                                        <div class="hpApproverMainBranchesSectionDividerLineContainer">
                                            <div class="hpApproverMainBranchestSectionDividerLineActual">
                                            </div>
                                        </div>
                                    
                                    <!-- APPROVER HOME PAGE CONTENT CARD CONTAINER ========================= -->
                                    <!-- =================================================================== -->

                                        <div class="hpApproverMainBranchesHomePageCardContainer">
                                            <div class="hpApproverMainBranchesHomePageCardElement">
                                                <div class="hpApproverMainBranchesHomePageCardElementsResizer">


                                                    <div class="hpApproverMainBranchesHomePageCardHeadlineContainer">
                                                        <div class="hpApproverMainBranchesHomePageCardHeadlineActual">
                                                            home page data
                                                        </div>
                                                    </div>


                                                    <div class="hpApproverMainBranchesHomePageCardSubHeadlineContainer">
                                                        <div class="hpApproverMainBranchesHomePageCardSubHeadlineActual">
                                                            see all data that makes up the home page in available sections that exist currently on the system.
                                                        </div>
                                                    </div>


                                                    <div class="hpApproverMainBranchesHomePageCardDiscoverButtonContainer">
                                                        <div class="hpApproverMainBranchesHomePageCardDiscoverButtonActual">
                                                            see data
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                </div>

                            </div>





                    <!-- APPROVER CHANGE REQUESTS SECTION ================================================== -->
                    <!-- =================================================================================== -->

                            <div class="hpApproverChangesRequestSectionContentContainer">
                                
                                <!-- APPROVER HOME PAGE CHANGES REQUEST HEADLINE CONTAINER CONTAINER ======= -->
                                <!-- ======================================================================= -->

                                    <div class="hpApproverChangesRequestSectionHeadlineContainer">
                                        <div class="hpApproverChangesRequestSectionHeadlineActual">
                                            NEW CHANGE REQUESTS
                                        </div>
                                    </div>
                                
                                <!-- APPROVER HOME PAGE CHANGES REQUEST DIVIDER LINE ======================= -->
                                <!-- ======================================================================= -->

                                    <div class="hpApproverChangesRequestSectionDividerLineContainer">
                                        <div class="hpApproverChangesRequestSectionDividerLineActual">
                                        </div>
                                    </div>
                                
                                <!-- APPROVER HOME PAGE CHANGES REQUEST CONTENT SLIDER CONTAINER =========== -->
                                <!-- ======================================================================= -->

                                    <div class="hpApproverChangesRequestSectionContentAndReviewContainer">
                                        <div class="hpApproverChangesRequestSectionContentAndReviewSlider">

                                            <!-- ALL REQUESTS CARDS CONTENT SIDE =========================== -->
                                            <!-- =========================================================== -->

                                                <div class="hpApproverChangesRequestSectionContentSideContainer">
                                                    <div class="hpApproverChangesRequestSectionContentSideResizer">
                                                    </div>
                                                </div>

                                            <!-- VIEW REQUEST CONTENT SIDE ================================= -->
                                            <!-- =========================================================== -->

                                                <div class="hpApproverChangesRequestSectionReviewSideContainer">
                                                    <div class="hpApproverChangesRequestSectionReviewSideResizer">

                                
                                                        <!-- APPROVER HOME PAGE CHANGES REQUEST REVIEW PAGE  -->
                                                        <!-- =============================================== -->

                                                            <!-- PAGE BACK BUTTON ========================== -->
                                                            <!-- =========================================== -->

                                                                <div class="hpApproverChangesRequestSectionReviewSideBackButtonContainer">
                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackButtonElement">
                                                                        <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconMover">

                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconLineOne">
                                                                            </div>
                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconLineTwo">
                                                                            </div>
                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconLineThree">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            <!-- REVIEW CONTENT BLOCK ====================== -->
                                                            <!-- =========================================== -->

                                                                <div class="hpApproverChangesRequestSectionReviewSideContentContainer">

                                                                    <!-- REVIEW CONTENT HEADLINER ========== -->
                                                                    <!-- =================================== -->

                                                                        <div class="hpApproverChangesRequestSectionReviewSideHeadlinerContainer">
                                                                            <div class="hpApproverChangesRequestSectionReviewSideHeadlinerActual">
                                                                                REQUEST FOR HOME INTRO SECTION
                                                                            </div>
                                                                        </div>

                                                                    <!-- REVIEW CONTENT CHANGES BLOCKS ===== -->
                                                                    <!-- =================================== -->

















                                                                        <!-- REVIEW CONTENT BG BLOCK ======= -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeHeadlinerActual">
                                                                                        main background
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeActualContainer">

                                                                                    <!-- PREVIOUS BACKGROUND IMAGE BLOCK -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousBackgroundChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousTagActual">
                                                                                                        current
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- IMAGE TAG ============= -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousImageContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousImageActual">
                                                                                                    </div>
                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED BACKGROUND IMAGE BLOCK -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedBackgroundChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED IMAGE TAG ==== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedImageContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedImageActual">
                                                                                                    </div>
                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>















                                                                    

                                                                                <!-- REVIEW CONTENT SECTION DIVIDER  -->
                                                                                <!-- =============================== -->

                                                                                    <div class="hpApproverChangesRequestSectionReviewSideContentDividerContainer">
                                                                                        <div class="hpApproverChangesRequestSectionReviewSideContentDividerActual">
                                                                                        </div>
                                                                                    </div>


                                                                            </div>

















                                                                        <!-- REVIEW CONTENT HEADLINER BLOCK  -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeHeadlinerActual">
                                                                                        main headliner
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeActualContainer">

                                                                                    <!-- PREVIOUS HEADLINER BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousMainHeadlinerChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousTagActual">
                                                                                                        current
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PREVIOUS HEADLINE TEXT TAG -->
                                                                                            <!-- ========================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousEnglishContentInputBoxTag">
                                                                                                                current headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousArabicContentInputBoxTag">
                                                                                                                current headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED HEADLINER BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedMainHeadlinerChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED HEADLINE TEXT TAG -->
                                                                                            <!-- ========================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentInputBoxTag">
                                                                                                                proposed headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentInputBoxTag">
                                                                                                                proposed headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>















                                                                    

                                                                                <!-- REVIEW CONTENT SECTION DIVIDER  -->
                                                                                <!-- =============================== -->

                                                                                    <div class="hpApproverChangesRequestSectionReviewSideContentDividerContainer">
                                                                                        <div class="hpApproverChangesRequestSectionReviewSideContentDividerActual">
                                                                                        </div>
                                                                                    </div>


                                                                            </div>

















                                                                        <!-- REVIEW CONTENT SUB HEADLINER BLOCK  -->
                                                                        <!-- =================================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeHeadlinerActual">
                                                                                        main sub headliner
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeActualContainer">

                                                                                    <!-- PREVIOUS SUB HEADLINER BLOCK ====== -->
                                                                                    <!-- =================================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousMainSubHeadlinerChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousTagActual">
                                                                                                        current
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PREVIOUS SUB HEADLINE TEXT TAG -->
                                                                                            <!-- ============================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousEnglishContentInputBoxTag">
                                                                                                                current sub headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousArabicContentInputBoxTag">
                                                                                                                current sub headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED SUB HEADLINER BLOCK == -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedMainSubHeadlinerChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED SUB HEADLINE TEXT TAG -->
                                                                                            <!-- ============================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedEnglishContentInputBoxTag">
                                                                                                                proposed sub headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerProposedArabicContentInputBoxTag">
                                                                                                                proposed sub headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>















                                                                    

                                                                                <!-- REVIEW CONTENT SECTION DIVIDER  -->
                                                                                <!-- =============================== -->

                                                                                    <div class="hpApproverChangesRequestSectionReviewSideContentDividerContainer">
                                                                                        <div class="hpApproverChangesRequestSectionReviewSideContentDividerActual">
                                                                                        </div>
                                                                                    </div>


                                                                                    
                                                                            </div>

















                                                                        <!-- REVIEW CONTENT ACTION BUTTON BLOCK  -->
                                                                        <!-- =================================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonChangeHeadlinerActual">
                                                                                        main action button
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonChangeActualContainer">

                                                                                    <!-- PREVIOUS ACTION BUTTON BLOCK ====== -->
                                                                                    <!-- =================================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousMainActionButtonChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousTagActual">
                                                                                                        current
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PREVIOUS ACTION BUTTON TEXT TAG -->
                                                                                            <!-- =============================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousTextBoxTagContainer">

                                                                                                    <!-- PREVIOUS ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousEnglishContentInputBoxTag">
                                                                                                                current action button text change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PREVIOUS ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousArabicContentInputBoxTag">
                                                                                                                current action button text change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PREVIOUS ACTION BUTTON STYLE TAG  -->
                                                                                                    <!-- ================================= -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousStyleContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousStyleTextTag">
                                                                                                                current button style
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonPreviousStyleBoxTag">
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED ACTION BUTTON BLOCK == -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedMainActionButtonChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED ACTION BUTTON TEXT TAG -->
                                                                                            <!-- =============================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedEnglishContentInputBoxTag">
                                                                                                                proposed action button text change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedArabicContentInputBoxTag">
                                                                                                                proposed action button text change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ACTION BUTTON STYLE TAG  -->
                                                                                                    <!-- ================================= -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedStyleContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedStyleTextTag">
                                                                                                                proposed button style
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainActionButtonProposedStyleBoxTag">
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>















                                                                    

                                                                                <!-- REVIEW CONTENT SECTION DIVIDER  -->
                                                                                <!-- =============================== -->

                                                                                    <div class="hpApproverChangesRequestSectionReviewSideContentDividerContainer">
                                                                                        <div class="hpApproverChangesRequestSectionReviewSideContentDividerActual">
                                                                                        </div>
                                                                                    </div>


                                                                                    
                                                                            </div>

















                                                                        <!-- REVIEW CONTENT TECHFRAME BLOCK  -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideTechFrameChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideTechFrameChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideTechFrameChangeHeadlinerActual">
                                                                                        main techframe
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideTechFrameChangeActualContainer">

                                                                                    <!-- PREVIOUS TECHFRAME BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousTechFrameChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideTechFramePreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideTechFramePreviousTagActual">
                                                                                                        current
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- IMAGE TAG ============= -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideTechFramePreviousImageContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideTechFramePreviousImageActual">
                                                                                                    </div>
                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED TECHFRAME BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedTechFrameChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideTechFrameProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideTechFrameProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED IMAGE TAG ==== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideTechFrameProposedImageContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideTechFrameProposedImageActual">
                                                                                                    </div>
                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>















                                                                    

                                                                                <!-- REVIEW CONTENT SECTION DIVIDER  -->
                                                                                <!-- =============================== -->

                                                                                    <div class="hpApproverChangesRequestSectionReviewSideContentDividerContainer">
                                                                                        <div class="hpApproverChangesRequestSectionReviewSideContentDividerActual">
                                                                                        </div>
                                                                                    </div>



                                                                            </div>

















                                                                        <!-- REVIEW CONTENT ACCEPT REJECT BUTTON BLOCK  -->
                                                                        <!-- ========================================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideAcceptRejectButtonChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideAcceptRejectButtonAcceptButtonContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideAcceptRejectButtonAcceptButtonTextActual">
                                                                                        accept changes
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideAcceptRejectButtonRejectButtonContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideAcceptRejectButtonRejectButtonTextActual">
                                                                                        reject changes
                                                                                    </div>
                                                                                </div>

                                                                            </div>








                                                                        <!-- SUBMISSION FORM CONTAINER ===== -->
                                                                        <!-- =============================== -->

                                                                                <div class="hpApproverChangesRequestSectionReviewSideSubContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideSubResizer">
                                                                                    </div>
                                                                                </div>

                                                                        <!-- SUBMISSION FORM CONTAINER ===== -->
                                                                        <!-- =============================== -->




                                                                </div>


                                                    </div>
                                                </div>

                                        </div>
                                    </div>






                            </div>





                </div>

        <!-- INTRO SECTION CONTENT CONTAINER =============================================================== -->
        <!-- =============================================================================================== -->

                

            <!-- TESTING ONE TWO TESTING ONE TWO ----------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------- -->


                    <div class="getChangeRequestDownloadSection">

                            <%changeRequestList.forEach(requestedChangeItem => {%>

                                <div class="changeRequestDownloadBlock">

                                    <!-- GET ID -------------------------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem._id%></div> <!-- ----------------------------- 0 -->

                                    <!-- GET TIME AND DATE --------------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introSectionPostedTime%></div> <!-- ---------- 1 -->
                                        <div><%=requestedChangeItem.introSectionPostedDate%></div> <!-- ---------- 2 -->

                                    <!-- GET BACKGROUND ------------------------------------------------------------ -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introCurrentBackgroundMain%></div> <!-- ------ 3 -->

                                    <!-- GET HEADLINE -------------------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introCurrentHeadlineMainEng%></div> <!-- ----- 4 -->
                                        <div><%=requestedChangeItem.introCurrentHeadlineMainArb%></div> <!-- ----- 5 -->

                                    <!-- GET SUB HEADLINE ---------------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introCurrentSubHeadlineMainEng%></div> <!-- -- 6 -->
                                        <div><%=requestedChangeItem.introCurrentSubHeadlineMainArb%></div> <!-- -- 7 -->

                                    <!-- GET ACTION BUTTON --------------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introCurrentActionButtonStatus%></div> <!-- -- 8 -->
                                        <div><%=requestedChangeItem.introCurrentActionButtonTextMainEng%></div> <!-- 9 -->
                                        <div><%=requestedChangeItem.introCurrentActionButtonTextMainArb%></div> <!-- 10 -->
                                        <div><%=requestedChangeItem.introCurrentActionButtonFormat%></div> <!-- - 11 -->

                                    <!-- GET TECHFRAME ------------------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introCurrentTechFrameMain%></div> <!-- ------ 12 -->

                                    <!-- GET SUBMITTER DEPARTMENT -------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introCurrentSubmitterDepartmentMain%></div> <!-- 13 -->

                                    <!-- GET SUBMITTER NAME -------------------------------------------------------- -->
                                    <!-- --------------------------------------------------------------------------- -->

                                        <div><%=requestedChangeItem.introCurrentSubmitterNameMain%></div> <!-- -- 14 -->

                                </div>

                            <%})%>

                    </div>


            <!-- TESTING ONE TWO TESTING ONE TWO ----------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------- -->



    </div>
    
</body>



</html>