<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>


    <!-- BRING IN STYLES =================================================================================== -->
    <!-- =================================================================================================== -->

            <link rel="stylesheet" href="/public/styles/homePageStyles/home_navBarStyles/2025/21st/homeNavBarStyles.css">
            <link rel="stylesheet" href="/public/styles/homePageStyles/home_introSectionStyles/2025/21st/homeIntroSectionStyles.css">


    <!-- BRING IN STYLES =================================================================================== -->
    <!-- =================================================================================================== -->




    <!-- BRING IN SCRIPTS ================================================================================== -->
    <!-- =================================================================================================== -->



         <!-- NAV BAR SCRIPTS ============================================================================== -->
         <!-- ============================================================================================== -->

               <script src="/public/scripts/homePageScripts/home_navBarScripts/2025/21st/homeNavBarScripts.js" defer></script>



         <!-- INTRO SECTION SCRIPTS ======================================================================== -->
         <!-- ============================================================================================== -->

               <script src="/public/scripts/homePageScripts/home_introSectionScripts/2025/21st/homeIntroSectionScripts.js" defer></script>


    <!-- BRING IN SCRIPTS ================================================================================== -->
    <!-- =================================================================================================== -->


</head>



<body class="bodyControl">


    <!-- TESTING ONE TWO TESTING ONE TWO ------------------------------------------------------------------- -->
    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="mainContentControl">


        <!-- NAV BAR MAIN CONTAINER ======================================================================== -->
        <!-- =============================================================================================== -->


                <div class="hpNavBar">
                    <div class="hpNavBarPillContainer">
                    <div class="hpNavBarContentResizer">

                        <!-- NAV BAR LOGO SIDE ============================================================= -->
                        <!-- =============================================================================== -->

                                <div class="hpNavBarLogoSideContainer">
                                <div class="hpNavBarLogo">
                                </div>
                                </div>

                        <!-- NAV BAR MENU CONTENT SIDE ===================================================== -->
                        <!-- =============================================================================== -->

                                <div class="hpNavBarContentSideContainer">

                                <!-- CONTENT CONTAINER ===================================================== -->
                                <!-- ======================================================================= -->

                                        <div class="hpNavBarContentContainer">






                                            <!-- MENU ITEM ONE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                                                <div class="hpNavBarMenuItemOneContainer">

                                                    <div class="hpNavBarmenuItemOneTextSide">

                                                        <!-- WILL GET FROM DB ****************************** -->
                                                        HOME
                                                        <!-- WILL GET FROM DB ****************************** -->

                                                        <div class="hpNavBarmenuItemOneTextUnderlinerContainer">
                                                        <div class="hpNavBarmenuItemOneTextUnderlinerActual">
                                                        </div>
                                                        </div>

                                                    </div>

                                                    <div class="hpNavBarmenuItemOneDropDownSide">
                                                        <div class="hpNavBarmenuItemOneDropDownElement">
                                                        <div class="hpNavBarmenuItemOneDropDownIconResizer">

                                                            <div class="hpNavBarmenuItemOneDropDownIconLineOne">
                                                            </div>
                                                            
                                                            <div class="hpNavBarmenuItemOneDropDownIconLineTwo">
                                                            </div>

                                                        </div>
                                                        </div>
                                                    </div>

                                                </div>






                                            <!-- MENU ITEM TWO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                                                <div class="hpNavBarMenuItemTwoContainer">

                                                    <div class="hpNavBarmenuItemTwoTextSide">

                                                        <!-- WILL GET FROM DB ****************************** -->
                                                        DEPARTMENTS
                                                        <!-- WILL GET FROM DB ****************************** -->

                                                        <div class="hpNavBarmenuItemTwoTextUnderlinerContainer">
                                                        <div class="hpNavBarmenuItemTwoTextUnderlinerActual">
                                                        </div>
                                                        </div>

                                                    </div>

                                                    <div class="hpNavBarmenuItemTwoDropDownSide">
                                                        <div class="hpNavBarmenuItemTwoDropDownElement">
                                                        <div class="hpNavBarmenuItemTwoDropDownIconResizer">

                                                            <div class="hpNavBarmenuItemTwoDropDownIconLineOne">
                                                            </div>
                                                            
                                                            <div class="hpNavBarmenuItemTwoDropDownIconLineTwo">
                                                            </div>

                                                        </div>
                                                        </div>
                                                    </div>

                                                </div>






                                            <!-- MENU ITEM THREE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                                                <div class="hpNavBarMenuItemThreeContainer">

                                                    <div class="hpNavBarmenuItemThreeTextSide">

                                                        <!-- WILL GET FROM DB ****************************** -->
                                                        PARTNERS
                                                        <!-- WILL GET FROM DB ****************************** -->

                                                        <div class="hpNavBarmenuItemThreeTextUnderlinerContainer">
                                                        <div class="hpNavBarmenuItemThreeTextUnderlinerActual">
                                                        </div>
                                                        </div>

                                                    </div>

                                                    <div class="hpNavBarmenuItemThreeDropDownSide">
                                                        <div class="hpNavBarmenuItemThreeDropDownElement">
                                                        <div class="hpNavBarmenuItemThreeDropDownIconResizer">

                                                            <div class="hpNavBarmenuItemThreeDropDownIconLineOne">
                                                            </div>
                                                            
                                                            <div class="hpNavBarmenuItemThreeDropDownIconLineTwo">
                                                            </div>

                                                        </div>
                                                        </div>
                                                    </div>

                                                </div>






                                            <!-- MENU ITEM FOUR xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                                                <div class="hpNavBarMenuItemFourContainer">

                                                    <div class="hpNavBarmenuItemFourTextSide">

                                                        <!-- WILL GET FROM DB ****************************** -->
                                                        CONTACT
                                                        <!-- WILL GET FROM DB ****************************** -->

                                                        <div class="hpNavBarmenuItemFourTextUnderlinerContainer">
                                                        <div class="hpNavBarmenuItemFourTextUnderlinerActual">
                                                        </div>
                                                        </div>

                                                    </div>

                                                    <div class="hpNavBarmenuItemFourDropDownSide">
                                                        <div class="hpNavBarmenuItemFourDropDownElement">
                                                        <div class="hpNavBarmenuItemFourDropDownIconResizer">

                                                            <div class="hpNavBarmenuItemFourDropDownIconLineOne">
                                                            </div>
                                                            
                                                            <div class="hpNavBarmenuItemFourDropDownIconLineTwo">
                                                            </div>

                                                        </div>
                                                        </div>
                                                    </div>

                                                </div>






                                            <!-- MENU ITEM FIVE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                                                <div class="hpNavBarMenuItemFiveContainer">

                                                    <div class="hpNavBarmenuItemFiveTextSide">

                                                        <!-- WILL GET FROM DB ****************************** -->
                                                        MORE <!-- about, profile, search -->
                                                        <!-- WILL GET FROM DB ****************************** -->

                                                        <div class="hpNavBarmenuItemFiveTextUnderlinerContainer">
                                                        <div class="hpNavBarmenuItemFiveTextUnderlinerActual">
                                                        </div>
                                                        </div>

                                                    </div>

                                                    <div class="hpNavBarmenuItemFiveDropDownSide">
                                                        <div class="hpNavBarmenuItemFiveDropDownElement">
                                                        <div class="hpNavBarmenuItemFiveDropDownIconResizer">

                                                            <div class="hpNavBarmenuItemFiveDropDownIconLineOne">
                                                            </div>
                                                            
                                                            <div class="hpNavBarmenuItemFiveDropDownIconLineTwo">
                                                            </div>

                                                        </div>
                                                        </div>
                                                    </div>

                                                </div>







                                        </div>

                                </div>




                                <!-- LANGUAGE SELECTOR CONTAINER =========================================== -->
                                <!-- ======================================================================= -->

                                        <div class="hpNavBarMenuLanguageSelectorContainer">
                                            <div class="hpNavBarMenuLanguageSelectorContainerElement">
                                                <div class="hpNavBarMenuLanguageSelectorClickerContainer">
                                                    <div class="hpNavBarMenuLanguageSelectorEnglishClicker">
                                                    </div>
                                                    <div class="hpNavBarMenuLanguageSelectorArabicClicker">
                                                    </div>
                                                </div>
                                                <div class="hpNavBarMenuLanguageSelectorContainerLanguageText">
                                                ENG
                                                </div>
                                            </div>
                                        </div>

                    </div>
                    </div>




                    <!-- DROP DOWN CONTENTS BLOCK ========================================================== -->
                    <!-- =================================================================================== -->

                        




                </div>

        <!-- NAV BAR MAIN CONTAINER ======================================================================== -->
        <!-- =============================================================================================== -->



        


        <!-- INTRO SECTION CONTENT CONTAINER =============================================================== -->
        <!-- =============================================================================================== -->

                <div class="hpIntroSectionContainer">
                    <div class="hpIntroSectionDimmer">
                        <div class="hpIntroSectionSlider">



                        <!-- ALL EDIT BUTTONS FOR OVERALL BLOCK ------------------------------------------------- -->

                            <div class="editIntroSectionBackgroundControlsContainer">

                                <!-- EDIT BUTTON --------------------------------------------------------------- -->

                                    <div class="editIntroSectionBackgroundControlsButtonElement">
                                        <div class="editIntroSectionBackgroundControlsButtonClickerOn"></div>
                                        <div class="editIntroSectionBackgroundControlsButtonClickerOff"></div>
                                        <div class="editIntroSectionBackgroundControlsButtonIconMover">
                                            <div class="editIntroSectionBackgroundControlsButtonIconActual">
                                            </div>
                                        </div>
                                    </div>

                                <!-- INTRO SECTION BACKGROUND GALLERY ------------------------------------------ -->

                                    <div class="editIntroSectionBackgroundGalleryContainer">



                                        <!-- MAKE GALLERY ARROWS ----------------------------------------------- -->





                                            <!-- GALLERY ARROW LEFT -------------------------------------------- -->

                                                <div class="editIntroSectionBackgroundGalleryArrowLeftContainer">

                                                    <!-- CLICKER CONTAINER ------------------------------------- -->

                                                        <div class="editIntroSectionBackgroundGalleryArrowLeftClickerContainer">

                                                            <div class="editIntroSectionBackgroundGalleryArrowLeftClickerOne"></div>
                                                            <div class="editIntroSectionBackgroundGalleryArrowLeftClickerTwo"></div>
                                                            <div class="editIntroSectionBackgroundGalleryArrowLeftClickerThree"></div>

                                                        </div>

                                                    <!-- LEFT BUTTON ELEMENT CONTAINER ------------------------- -->

                                                        <div class="editIntroSectionBackgroundGalleryArrowLeftButtonElement">
                                                            <div class="editIntroSectionBackgroundGalleryArrowLeftButtonIconMover">

                                                                <div class="editIntroSectionBackgroundGalleryArrowLeftButtonIconLineOne"></div>
                                                                <div class="editIntroSectionBackgroundGalleryArrowLeftButtonIconLineTwo"></div>

                                                            </div>
                                                        </div>

                                                </div>


                                        


                                            <!-- GALLERY ARROW RIGHT ------------------------------------------- -->

                                                <div class="editIntroSectionBackgroundGalleryArrowRightContainer">

                                                    <!-- CLICKER CONTAINER ------------------------------------- -->

                                                        <div class="editIntroSectionBackgroundGalleryArrowRightClickerContainer">

                                                            <div class="editIntroSectionBackgroundGalleryArrowRightClickerOne"></div>
                                                            <div class="editIntroSectionBackgroundGalleryArrowRightClickerTwo"></div>
                                                            <div class="editIntroSectionBackgroundGalleryArrowRightClickerThree"></div>

                                                        </div>

                                                    <!-- RIGHT BUTTON ELEMENT CONTAINER ------------------------ -->

                                                        <div class="editIntroSectionBackgroundGalleryArrowRightButtonElement">
                                                            <div class="editIntroSectionBackgroundGalleryArrowRightButtonIconMover">

                                                                <div class="editIntroSectionBackgroundGalleryArrowRightButtonIconLineOne"></div>
                                                                <div class="editIntroSectionBackgroundGalleryArrowRightButtonIconLineTwo"></div>

                                                            </div>
                                                        </div>

                                                </div>


                                        <!-- MAKE GALLERY ARROWS ----------------------------------------------- -->



                                        <div class="editIntroSectionBackgroundGalleryContentResizer">

                                            <div class="editIntroSectionBackgroundGalleryContentHeadlinerContainer">
                                                <div class="editIntroSectionBackgroundGalleryContentHeadlinerText">
                                                water gallery
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                            </div>

                        <!-- ALL EDIT BUTTONS FOR OVERALL BLOCK ------------------------------------------------- -->



                        <!-- MENU CONTENT BLOCK ONE CONTAINER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                        <div class="hpIntroSectionContentBlockOneContainer">
                            <div class="hpIntroSectionBlockOneContentResizer">





                                <!-- ALL EDIT BUTTONS FOR INNER CONTENT ---------------------------------------- -->


                                <!-- ALL EDIT BUTTONS FOR INNER CONTENT ---------------------------------------- -->





                                <!-- TEXT SIDE ----------------------------------------------------------------- -->

                                    <div class="hpIntroSectionBlockOneContentTextSideContainer">
                                    <div class="hpIntroSectionBlockOneContentTextSideHeaderContainer">
                                        <div class="hpIntroSectionBlockOneContentTextSideHeaderText">

                                            <!-- EDIT BUTTON --------------------------------------------------- -->

                                                <div class="editIntroSectionMainHeadlineControlsButtonElement">
                                                    <div class="editIntroSectionMainHeadlineControlsButtonClickerOn"></div>
                                                    <div class="editIntroSectionMainHeadlineControlsButtonClickerOff"></div>
                                                    <div class="editIntroSectionMainHeadlineControlsButtonIconMover">
                                                        <div class="editIntroSectionMainHeadlineControlsButtonIconActual">
                                                        </div>
                                                    </div>
                                                </div>

                                            <!-- INTRO SECTION HEADLINE  --------------------------------------- -->

                                                <div class="editIntroSectionHeadlineContainer">
                                                    <div class="editIntroSectionHeadlineContentResizer">

                                                        <div class="editIntroSectionHeadlineContentHeadlinerContainer">
                                                            <div class="editIntroSectionHeadlineContentHeadlinerText">
                                                            EDIT HEADLINE
                                                            </div>
                                                        </div>

                                                        <div class="editIntroSectionHeadlineContentHeadlinerChangeFieldEnglishContainer">
                                                            <div class="editIntroSectionHeadlineContentHeadlinerChangeFieldEnglishPadder">
                                                            <input 
                                                            
                                                                name="editMainHeadlineEnglish"
                                                                maxlength="30"
                                                                placeholder="english headline"
                                                                class="editIntroSectionHeadlineContentHeadlinerChangeFieldEnglishActual"
                                                                
                                                            >
                                                            </div>
                                                        </div>

                                                        <div class="editIntroSectionHeadlineContentHeadlinerChangeFieldArabicContainer">
                                                            <div class="editIntroSectionHeadlineContentHeadlinerChangeFieldArabicPadder">
                                                            <input 
                                                            
                                                                name="editMainHeadlineArabic"
                                                                maxlength="30"
                                                                placeholder="arabic headline"
                                                                class="editIntroSectionHeadlineContentHeadlinerChangeFieldArabicActual"
                                                                
                                                            >
                                                            </div>
                                                        </div>

                                                        <div class="editIntroSectionHeadlineContentHeadlinerChangeSubmitButton">
                                                            <div class="editIntroSectionHeadlineContentHeadlinerChangeSubmitButtonActual">
                                                            accept
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>



                                            <div class="hpIntroSectionBlockOneContentHeadlineTextActual">
                                                
                                                A CIRCLE OF POSSIBILITIES
                                            
                                            </div>


                                        </div>
                                    </div>
                                    <div class="hpIntroSectionBlockOneContentTextSideSubHeaderContainer">
                                        <div class="hpIntroSectionBlockOneContentTextSideSubHeaderText">

                                            <!-- EDIT BUTTON --------------------------------------------------- -->

                                                <div class="editIntroSectionMainSubHeadlineControlsButtonElement">
                                                    <div class="editIntroSectionMainSubHeadlineControlsButtonClickerOn"></div>
                                                    <div class="editIntroSectionMainSubHeadlineControlsButtonClickerOff"></div>
                                                    <div class="editIntroSectionMainSubHeadlineControlsButtonIconMover">
                                                        <div class="editIntroSectionMainSubHeadlineControlsButtonIconActual">
                                                        </div>
                                                    </div>
                                                </div>

                                            <!-- INTRO SECTION HEADLINE  --------------------------------------- -->

                                                <div class="editIntroSectionSubHeadlineContainer">
                                                    <div class="editIntroSectionSubHeadlineContentResizer">

                                                        <div class="editIntroSectionSubHeadlineContentHeadlinerContainer">
                                                            <div class="editIntroSectionSubHeadlineContentHeadlinerText">
                                                            EDIT SUB HEADLINE
                                                            </div>
                                                        </div>

                                                        <div class="editIntroSectionSubHeadlineContentHeadlinerChangeFieldEnglishContainer">
                                                            <div class="editIntroSectionSubHeadlineContentHeadlinerChangeFieldEnglishPadder">
                                                            <textarea 
                                                            
                                                                name="editMainSubHeadlineEnglish"
                                                                maxlength="100"
                                                                placeholder="english sub headline"
                                                                class="editIntroSectionSubHeadlineContentHeadlinerChangeFieldEnglishActual"
                                                                
                                                            ></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="editIntroSectionSubHeadlineContentHeadlinerChangeFieldArabicContainer">
                                                            <div class="editIntroSectionSubHeadlineContentHeadlinerChangeFieldArabicPadder">
                                                            <textarea 
                                                            
                                                                name="editMainSubHeadlineArabic"
                                                                maxlength="100"
                                                                placeholder="arabic sub headline"
                                                                class="editIntroSectionSubHeadlineContentHeadlinerChangeFieldArabicActual"
                                                                
                                                            ></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="editIntroSectionSubHeadlineContentHeadlinerChangeSubmitButton">
                                                            <div class="editIntroSectionSubHeadlineContentHeadlinerChangeSubmitButtonActual">
                                                            accept
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            <div class="hpIntroSectionBlockOneContentSubHeadlineTextActual">

                                                We're partnering with nature to transform and realize 
                                                the sustainable possibilities of energy, water and hydrogen.
                                                
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hpIntroSectionBlockOneContentTextSideExploreButtonContainer">

                                        <!-- EDIT BUTTON --------------------------------------------------- -->

                                                <div class="editIntroSectionMainActionButtonControlsButtonElement">
                                                <div class="editIntroSectionMainActionButtonControlsButtonClickerOn"></div>
                                                <div class="editIntroSectionMainActionButtonControlsButtonClickerOff"></div>
                                                <div class="editIntroSectionMainActionButtonControlsButtonIconMover">
                                                    <div class="editIntroSectionMainActionButtonControlsButtonIconActual">
                                                    </div>
                                                </div>
                                                </div>

                                            <!-- INTRO SECTION EXPLORE BUTTON  ------------------------------ -->

                                                    <div class="editIntroSectionExploreButtonContainer">
                                                        <div class="editIntroSectionExploreButtonContentResizer">

                                                            <div class="editIntroSectionExploreButtonContentHeadlinerContainer">
                                                                <div class="editIntroSectionExploreButtonContentHeadlinerText">
                                                                EDIT ACTION BUTTON
                                                                </div>
                                                            </div>

                                                            <div class="editIntroSectionExploreButtonStateChangeContainer">
                                                                <div class="editIntroSectionExploreButtonStateChangePadder">

                                                                    <!-- CLICKERS CONTAINER --------------------- -->
                                                                    <!-- ---------------------------------------- -->

                                                                        <div class="editIntroSectionExploreButtonStateChangeClickersContainer">
                                                                            <div class="editIntroSectionExploreButtonStateChangeClickersOn">
                                                                                switch button on
                                                                            </div>
                                                                            <div class="editIntroSectionExploreButtonStateChangeClickersOff">
                                                                                switch button off
                                                                            </div>
                                                                        </div>

                                                                </div>
                                                            </div>

                                                            <div class="editIntroSectionExploreButtonContentTextChangeFieldEnglishContainer">
                                                                <div class="editIntroSectionExploreButtonContentTextChangeFieldEnglishPadder">
                                                                <input 
                                                                
                                                                    name="editMainActionButtonEnglish"
                                                                    maxlength="15"
                                                                    placeholder="english button text"
                                                                    class="editIntroSectionExploreButtonContentTextChangeFieldEnglishActual"
                                                                    
                                                                >
                                                                </div>
                                                            </div>

                                                            <div class="editIntroSectionExploreButtonContentTextChangeFieldArabicContainer">
                                                                <div class="editIntroSectionExploreButtonContentTextChangeFieldArabicPadder">
                                                                <input 
                                                                
                                                                    name="editMainActionButtonArabic"
                                                                    maxlength="15"
                                                                    placeholder="arabic button text"
                                                                    class="editIntroSectionExploreButtonContentTextChangeFieldArabicActual"
                                                                    
                                                                >
                                                                </div>
                                                            </div>

                                                            <div class="editIntroSectionExploreButtonStyleContainer">


                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleOneContainer">
                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleOneActual">
                                                                    a
                                                                </div>
                                                                </div>


                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleTwoContainer">
                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleTwoActual">
                                                                    a
                                                                </div>
                                                                </div>


                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleThreeContainer">
                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleThreeActual">
                                                                    a
                                                                </div>
                                                                </div>


                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleFourContainer">
                                                                <div class="editIntroSectionExploreButtonStyleButtonStyleFourActual">
                                                                    a
                                                                </div>
                                                                </div>


                                                            </div>

                                                            <div class="editIntroSectionExploreButtonContentTextChangeSubmitButton">
                                                                <div class="editIntroSectionExploreButtonContentTextChangeSubmitButtonActual">
                                                                accept
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                        
                                        <div class="hpIntroSectionBlockOneContentTextSideActionButtonFormat">
                                                    
                                            <div class="hpIntroSectionBlockOneContentTextSideExploreButtonActual">
                                                discover how
                                            </div>

                                        </div>


                                    </div>
                                    </div>


                                <!-- IMAGE SIDE ---------------------------------------------------------------- -->

                                    <div class="hpIntroSectionBlockOneContentImageSideContainer">
                                    <div class="hpIntroSectionBlockOneContentImageActual">

                                        <!-- EDIT BUTTON ------------------------------------------------------ -->

                                                <div class="editIntroSectionMainTechframeControlsButtonElement">
                                                <div class="editIntroSectionMainTechframeControlsButtonClickerOn"></div>
                                                <div class="editIntroSectionMainTechframeControlsButtonClickerOff"></div>
                                                <div class="editIntroSectionMainTechframeControlsButtonIconMover">
                                                    <div class="editIntroSectionMainTechframeControlsButtonIconActual">
                                                    </div>
                                                </div>
                                                </div>

                                        <!-- INTRO SECTION TECHFRAME GALLERY ---------------------------------- -->

                                                <div class="editIntroSectionTechframeGalleryContainer">
                                                <div class="editIntroSectionTechframeGalleryContentResizer">

                                                    <div class="editIntroSectionTechframeGalleryContentHeadlinerContainer">
                                                        <div class="editIntroSectionTechframeGalleryContentHeadlinerText">
                                                            tech frame gallery
                                                        </div>
                                                    </div>

                                                </div>
                                                </div>

                                    </div>
                                    </div>


                            </div>
                        </div>



                        

                        <!-- MENU CONTENT BLOCK TWO CONTAINER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                        <div class="hpIntroSectionContentBlockTwoContainer">
                            <div class="hpIntroSectionBlockTwoContentResizer">

                                    <!-- CONTENT BACK BUTTON ---------------------------------------------------- -->

                                        <div class="hpIntroSectionBackButtonContainer">
                                            <div class="hpIntroSectionBackButtonElement">
                                                <div class="hpIntroSectionBackButtonIconMover">
                                                <div class="hpIntroSectionBackButtonIconLineOne">
                                                </div>
                                                <div class="hpIntroSectionBackButtonIconLineTwo">
                                                </div>
                                                <div class="hpIntroSectionBackButtonIconLineThree">
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    <!-- CONTENT CONTAINER ONE -------------------------------------------------- -->

                                    <div class="hpIntroSectionBlockTwoContentContainerOne">

                                            <!-- EDIT BUTTON --------------------------------------------------- -->

                                                <div class="editIntroSectionBlockTwoContentBlockOneControlsButtonElement">
                                                    <div class="editIntroSectionBlockTwoContentBlockOneControlsButtonClickerOn"></div>
                                                    <div class="editIntroSectionBlockTwoContentBlockOneControlsButtonClickerOff"></div>
                                                    <div class="editIntroSectionBlockTwoContentBlockOneControlsButtonIconMover">
                                                        <div class="editIntroSectionBlockTwoContentBlockOneControlsButtonIconActual">
                                                        </div>
                                                    </div>
                                                </div>

                                        <div class="hpIntroSectionBlockTwoContentContainerOneDimmer">
                                            <div class="hpIntroSectionBlockTwoContentContainerOneResizer">



                                                <div class="hpContentBlockOneContentSlider">

                                                <!-- CONTENT SIDE ONE ---------------------------------------- -->

                                                    <div class="hpContentBlockOneContentSideOne">

                                                        <!-- TECH FRAME CONTAINER                                -->

                                                            <div class="hpContentBlockTwoContainerOneTechframeContainer">
                                                                <div class="hpContentBlockTwoContainerOneTechframeActual">
                                                                </div>
                                                            </div>

                                                        <!-- HEADLINER CONTAINER                                 -->

                                                            <div class="hpContentBlockTwoContainerOneHeadlinerContainer">
                                                                <div class="hpContentBlockTwoContainerOneHeadlinerActual">
                                                                    WATER
                                                                </div>
                                                            </div>



                                                    </div>

                                                <!-- CONTENT SIDE TWO ---------------------------------------- -->

                                                    <div class="hpContentBlockOneContentSideTwo">
                                                        <div class="hpContentBlockOneContentSideTwoResizer">

                                                            <!-- HEADLINER CONTAINER                              -->

                                                                <div class="hpContentBlockOneContentSideTwoHeadlinerContainer">
                                                                    <div class="hpContentBlockOneContentSideTwoHeadlinerActual">
                                                                        WATER
                                                                    </div>
                                                                </div>

                                                            <!-- BODY TEXT CONTAINER                              -->

                                                                <div class="hpContentBlockOneContentSideTwoBodyTextContainer">
                                                                    <div class="hpContentBlockOneContentSideTwoBodyTextActual">
                                                                        The future of water is at ENOWA. We are building a sustainable future 
                                                                        for all by minimizing water costs, eliminating waste and preventing pollution 
                                                                        through the development of a fully circular water management system.
                                                                    </div>
                                                                </div>

                                                            <!-- BUTTON CONTAINER                                 -->

                                                                <div class="hpContentBlockOneContentSideTwoGoToButtonContainer">
                                                                    <div class="hpContentBlockOneContentSideTwoGoToButtonActual">
                                                                        explore page
                                                                    </div>
                                                                </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT CONTAINER TWO -------------------------------------------------- -->

                                    <div class="hpIntroSectionBlockTwoContentContainerTwo">

                                            <!-- EDIT BUTTON --------------------------------------------------- -->

                                                <div class="editIntroSectionBlockTwoContentBlockTwoControlsButtonElement">
                                                    <div class="editIntroSectionBlockTwoContentBlockTwoControlsButtonClickerOn"></div>
                                                    <div class="editIntroSectionBlockTwoContentBlockTwoControlsButtonClickerOff"></div>
                                                    <div class="editIntroSectionBlockTwoContentBlockTwoControlsButtonIconMover">
                                                        <div class="editIntroSectionBlockTwoContentBlockTwoControlsButtonIconActual">
                                                        </div>
                                                    </div>
                                                </div>

                                        <div class="hpIntroSectionBlockTwoContentContainerTwoDimmer">
                                            <div class="hpIntroSectionBlockTwoContentContainerTwoResizer">



                                                <div class="hpContentBlockTwoContentSlider">

                                                <!-- CONTENT SIDE ONE ---------------------------------------- -->

                                                    <div class="hpContentBlockTwoContentSideOne">



                                                        <!-- TECH FRAME CONTAINER                                -->

                                                            <div class="hpContentBlockTwoContainerTwoTechframeContainer">
                                                                <div class="hpContentBlockTwoContainerTwoTechframeActual">
                                                                </div>
                                                            </div>

                                                        <!-- HEADLINER CONTAINER                                 -->

                                                            <div class="hpContentBlockTwoContainerTwoHeadlinerContainer">
                                                                <div class="hpContentBlockTwoContainerTwoHeadlinerActual">
                                                                    ENERGY
                                                                </div>
                                                            </div>



                                                    </div>

                                                <!-- CONTENT SIDE TWO ---------------------------------------- -->

                                                    <div class="hpContentBlockTwoContentSideTwo">
                                                        <div class="hpContentBlockTwoContentSideTwoResizer">

                                                            <!-- HEADLINER CONTAINER                              -->

                                                                <div class="hpContentBlockTwoContentSideTwoHeadlinerContainer">
                                                                    <div class="hpContentBlockTwoContentSideTwoHeadlinerActual">
                                                                        ENERGY
                                                                    </div>
                                                                </div>

                                                            <!-- BODY TEXT CONTAINER                              -->

                                                                <div class="hpContentBlockTwoContentSideTwoBodyTextContainer">
                                                                    <div class="hpContentBlockTwoContentSideTwoBodyTextActual">
                                                                        ENOWA is where the present and future of renewable energy converge. 
                                                                        NEOM's location in the northwest of Saudi Arabia offers a unique vantage 
                                                                        point to leverage solar and wind power in one innovative dual system, paving 
                                                                        the way for the next frontier in clean energy.
                                                                    </div>
                                                                </div>

                                                            <!-- BUTTON CONTAINER                                 -->

                                                                <div class="hpContentBlockTwoContentSideTwoGoToButtonContainer">
                                                                    <div class="hpContentBlockTwoContentSideTwoGoToButtonActual">
                                                                        explore page
                                                                    </div>
                                                                </div>

                                                        </div>
                                                    </div>

                                                </div>




                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENT CONTAINER THREE ------------------------------------------------ -->

                                    <div class="hpIntroSectionBlockTwoContentContainerThree">

                                            <!-- EDIT BUTTON --------------------------------------------------- -->

                                                <div class="editIntroSectionBlockTwoContentBlockThreeControlsButtonElement">
                                                    <div class="editIntroSectionBlockTwoContentBlockThreeControlsButtonClickerOn"></div>
                                                    <div class="editIntroSectionBlockTwoContentBlockThreeControlsButtonClickerOff"></div>
                                                    <div class="editIntroSectionBlockTwoContentBlockThreeControlsButtonIconMover">
                                                        <div class="editIntroSectionBlockTwoContentBlockThreeControlsButtonIconActual">
                                                        </div>
                                                    </div>
                                                </div>

                                        <div class="hpIntroSectionBlockTwoContentContainerThreeDimmer">
                                            <div class="hpIntroSectionBlockTwoContentContainerThreeResizer">



                                                <div class="hpContentBlockThreeContentSlider">

                                                <!-- CONTENT SIDE ONE ---------------------------------------- -->

                                                    <div class="hpContentBlockThreeContentSideOne">



                                                        <!-- TECH FRAME CONTAINER                                -->

                                                            <div class="hpContentBlockTwoContainerThreeTechframeContainer">
                                                                <div class="hpContentBlockTwoContainerThreeTechframeActual">
                                                                </div>
                                                            </div>

                                                        <!-- HEADLINER CONTAINER                                 -->

                                                            <div class="hpContentBlockTwoContainerThreeHeadlinerContainer">
                                                                <div class="hpContentBlockTwoContainerThreeHeadlinerActual">
                                                                    HYDROGEN
                                                                </div>
                                                            </div>



                                                    </div>

                                                <!-- CONTENT SIDE TWO ---------------------------------------- -->

                                                    <div class="hpContentBlockThreeContentSideTwo">
                                                        <div class="hpContentBlockThreeContentSideTwoResizer">

                                                            <!-- HEADLINER CONTAINER                              -->

                                                                <div class="hpContentBlockThreeContentSideTwoHeadlinerContainer">
                                                                    <div class="hpContentBlockThreeContentSideTwoHeadlinerActual">
                                                                        HYDROGEN
                                                                    </div>
                                                                </div>

                                                            <!-- BODY TEXT CONTAINER                              -->

                                                                <div class="hpContentBlockThreeContentSideTwoBodyTextContainer">
                                                                    <div class="hpContentBlockThreeContentSideTwoBodyTextActual">
                                                                        ENOWA is developing a hydrogen ecosystem that spans the entire value chain, 
                                                                        encompassing innovative production methods, efficient storage solutions and 
                                                                        widespread distribution networks with diverse end-use applications. 
                                                                    </div>
                                                                </div>

                                                            <!-- BUTTON CONTAINER                                 -->

                                                                <div class="hpContentBlockThreeContentSideTwoGoToButtonContainer">
                                                                    <div class="hpContentBlockThreeContentSideTwoGoToButtonActual">
                                                                        explore page
                                                                    </div>
                                                                </div>

                                                        </div>
                                                    </div>

                                                </div>



                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>





                    </div>
                    </div>




                    <!-- SUBMIT INTRO SECTION CHANGES BUTTON =============================================== -->
                    <!-- =================================================================================== -->

                            <div class="submitIntroSectionChangesButtonContainer">

                                <form
                                
                                    class="submitIntroSectionChangesFieldsContainer"
                                    method="post"
                                    action="/"

                                >

                                    <!-- CHANGES FIELDS CONTENT MASTER CONTAINER =========================== -->
                                    <!-- =================================================================== -->

                                        <div class="submitIntroSectionChangesFieldsCotentResizer">
                                            <div class="submitIntroSectionChangesFieldsCotent">

                                                <!-- SUBMIT INTRO SECTION MAIN SCREEN BACKGROUND CHANGE ======== -->
                                                <!-- =========================================================== -->

                                                    <div class="submitIntroSectionMainScreenBackgroundChangesFieldContainer">
                                                        <div class="submitIntroSectionMainScreenBackgroundChangesFieldElement">
                                                            <input
                                                            
                                                                type="text"
                                                                name="mainScreenBackground"
                                                                class="submitIntroSectionMainScreenBackgroundChangesFieldActual"
                                                                placeholder="background image string..."

                                                            >
                                                        </div>
                                                    </div>




                                                <!-- SUBMIT INTRO SECTION MAIN SCREEN TEXT CONTENT ============= -->
                                                <!-- =========================================================== -->

                                                    <!-- SUBMIT INTRO SECTION MAIN SCREEN HEADLINER CHANGE ===== -->
                                                    <!-- ======================================================= -->

                                                        <!-- ENGLISH =========================================== -->
                                                        <!-- =================================================== -->

                                                            <div class="submitIntroSectionMainScreenHeadlineTextEnglishChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenHeadlineTextEnglishChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenEnglishHeadline"
                                                                        class="submitIntroSectionMainScreenHeadlineTextEnglishChangesFieldActual"
                                                                        readonly
                                                                        placeholder="english headline string..."

                                                                    >
                                                                </div>
                                                            </div>

                                                        <!-- ARABIC ============================================ -->
                                                        <!-- =================================================== -->

                                                            <div class="submitIntroSectionMainScreenHeadlineTextArabicChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenHeadlineTextArabicChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenArabicHeadline"
                                                                        class="submitIntroSectionMainScreenHeadlineTextArabicChangesFieldActual"
                                                                        readonly
                                                                        placeholder="arabic headline string..."

                                                                    >
                                                                </div>
                                                            </div>


                                                            

                                                    <!-- SUBMIT INTRO SECTION MAIN SCREEN SUB HEADLINER CHANGE = -->
                                                    <!-- ======================================================= -->

                                                        <!-- ENGLISH =========================================== -->
                                                        <!-- =================================================== -->

                                                            <div class="submitIntroSectionMainScreenSubHeadlineTextEnglishChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenSubHeadlineTextEnglishChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenEnglishSubHeadline"
                                                                        class="submitIntroSectionMainScreenSubHeadlineTextEnglishChangesFieldActual"
                                                                        readonly
                                                                        placeholder="english sub headline string..."

                                                                    >
                                                                </div>
                                                            </div>

                                                        <!-- ARABIC ============================================ -->
                                                        <!-- =================================================== -->

                                                            <div class="submitIntroSectionMainScreenSubHeadlineTextArabicChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenSubHeadlineTextArabicChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenArabicSubHeadline"
                                                                        class="submitIntroSectionMainScreenSubHeadlineTextArabicChangesFieldActual"
                                                                        readonly
                                                                        placeholder="arabic sub headline string..."

                                                                    >
                                                                </div>
                                                            </div>




                                                    <!-- SUBMIT INTRO SECTION MAIN SCREEN ACTION BUTTON CHANGE = -->
                                                    <!-- ======================================================= -->

                                                        <!-- ENGLISH =========================================== -->
                                                        <!-- =================================================== -->

                                                            <div class="submitIntroSectionMainScreenActionButtonStatusChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenActionButtonStatusEnglishChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenEnglishActionButtonStatus"
                                                                        class="submitIntroSectionMainScreenActionButtonStatusEnglishChangesFieldActual"
                                                                        readonly
                                                                        placeholder="english action button status string..."

                                                                    >
                                                                </div>
                                                            </div>

                                                            <div class="submitIntroSectionMainScreenActionButtonTextEnglishChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenActionButtonTextEnglishChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenEnglishActionButtonText"
                                                                        class="submitIntroSectionMainScreenActionButtonTextEnglishChangesFieldActual"
                                                                        readonly
                                                                        placeholder="english action button text string..."

                                                                    >
                                                                </div>
                                                            </div>

                                                            <div class="submitIntroSectionMainScreenActionButtonTextArabicChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenActionButtonTextArabicChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenArabicActionButtonText"
                                                                        class="submitIntroSectionMainScreenActionButtonTextArabicChangesFieldActual"
                                                                        readonly
                                                                        placeholder="arabic action button text string..."

                                                                    >
                                                                </div>
                                                            </div>

                                                            <div class="submitIntroSectionMainScreenActionButtonFormatChangesFieldContainer">
                                                                <div class="submitIntroSectionMainScreenActionButtonFormatChangesFieldElement">
                                                                    <input
                                                                    
                                                                        type="text"
                                                                        name="mainScreenArabicActionButtonFormat"
                                                                        class="submitIntroSectionMainScreenActionButtonFormatArabicChangesFieldActual"
                                                                        readonly
                                                                        placeholder="action button Format string..."

                                                                    >
                                                                </div>
                                                            </div>




                                                <!-- SUBMIT INTRO SECTION MAIN SCREEN TECHFRAME CHANGE ========= -->
                                                <!-- =========================================================== -->

                                                    <div class="submitIntroSectionMainScreenTechframeChangesFieldContainer">
                                                        <div class="submitIntroSectionMainScreenTechframeChangesFieldElement">
                                                            <input
                                                            
                                                                type="text"
                                                                name="mainScreenTechframe"
                                                                class="submitIntroSectionMainScreenTechframeChangesFieldActual"
                                                                readonly
                                                                placeholder="techframe image string..."

                                                            >
                                                        </div>
                                                    </div>




                                                <!-- SUBMIT INTRO SECTION MAIN SCREEN SUBMITTER DEPARTMENT CHANGE -->
                                                <!-- ============================================================ -->

                                                    <div class="submitIntroSectionMainScreenSubmitterDepartmentChangesFieldContainer">
                                                        <div class="submitIntroSectionMainScreenSubmitterDepartmentChangesFieldElement">
                                                            <input
                                                            
                                                                type="text"
                                                                name="mainScreenSubmitterDepartment"
                                                                class="submitIntroSectionMainScreenSubmitterDepartmentChangesFieldActual"
                                                                readonly
                                                                placeholder="submitter department string..."

                                                            >
                                                        </div>
                                                    </div>




                                                <!-- SUBMIT INTRO SECTION MAIN SCREEN SUBMITTER NAME CHANGE ==== -->
                                                <!-- =========================================================== -->

                                                    <div class="submitIntroSectionMainScreenSubmitterNameChangesFieldContainer">
                                                        <div class="submitIntroSectionMainScreenSubmitterNameChangesFieldElement">
                                                            <input
                                                            
                                                                type="text"
                                                                name="mainScreenSubmitterName"
                                                                class="submitIntroSectionMainScreenSubmitterNameChangesFieldActual"
                                                                readonly
                                                                placeholder="submitter name string..."

                                                            >
                                                        </div>
                                                    </div>

                                            </div>
                                        </div>




                                    <!-- SUBMIT CHANGES BUTTON CONTAINER =================================== -->
                                    <!-- =================================================================== -->


                                        <div class="submitIntroSectionSubmitChangesButtonContainer">
                                            <button 
                                            
                                                type="submit"
                                                class="submitIntroSectionSubmitChangesButtonActual"
                                                
                                            >
                                                save changes
                                            </button>
                                        </div>

                                </form>

                            </div>

                    <!-- SUBMIT INTRO SECTION CHANGES BUTTON =============================================== -->
                    <!-- =================================================================================== -->




                </div>

        <!-- INTRO SECTION CONTENT CONTAINER =============================================================== -->
        <!-- =============================================================================================== -->


    </div>

    

    <!-- TESTING ONE TWO TESTING ONE TWO ------------------------------------------------------------------- -->
    <!-- --------------------------------------------------------------------------------------------------- -->


            <div class="getIntroSection">

                <%introContentStylesList.forEach(criteriaElement => {%>

                    <!-- GET ID ---------------------------------------------------------------------------- -->
                    <!-- ----------------------------------------------------------------------------------- -->

                        <div><%=criteriaElement._id%></div> <!-- ----------------------------------------- 0 -->

                    <!-- GET TIME AND DATE ----------------------------------------------------------------- -->
                    <!-- ----------------------------------------------------------------------------------- -->

                        <div><%=criteriaElement.introSectionPostedTime%></div> <!-- ---------------------- 1 -->
                        <div><%=criteriaElement.introSectionPostedDate%></div> <!-- ---------------------- 2 -->

                    <!-- GET BACKGROUND -------------------------------------------------------------------- -->
                    <!-- ----------------------------------------------------------------------------------- -->

                        <div><%=criteriaElement.introCurrentBackgroundMain%></div> <!-- ------------------ 3 -->

                    <!-- GET HEADLINE ---------------------------------------------------------------------- -->
                    <!-- ----------------------------------------------------------------------------------- -->

                        <div><%=criteriaElement.introCurrentHeadlineMainEng%></div> <!-- ----------------- 4 -->
                        <div><%=criteriaElement.introCurrentHeadlineMainArb%></div> <!-- ----------------- 5 -->

                    <!-- GET SUB HEADLINE ------------------------------------------------------------------ -->
                    <!-- ----------------------------------------------------------------------------------- -->

                        <div><%=criteriaElement.introCurrentSubHeadlineMainEng%></div> <!-- -------------- 6 -->
                        <div><%=criteriaElement.introCurrentSubHeadlineMainArb%></div> <!-- -------------- 7 -->

                    <!-- GET ACTION BUTTON ----------------------------------------------------------------- -->
                    <!-- ----------------------------------------------------------------------------------- -->

                        <div><%=criteriaElement.introCurrentActionButtonStatus%></div> <!-- -------------- 8 -->
                        <div><%=criteriaElement.introCurrentActionButtonTextMainEng%></div> <!-- --------- 9 -->
                        <div><%=criteriaElement.introCurrentActionButtonTextMainArb%></div> <!-- -------- 10 -->
                        <div><%=criteriaElement.introCurrentActionButtonFormat%></div> <!-- ------------- 11 -->

                    <!-- GET TECHFRAME --------------------------------------------------------------------- -->
                    <!-- ----------------------------------------------------------------------------------- -->

                        <div><%=criteriaElement.introCurrentTechFrameMain%></div> <!-- ------------------ 12 -->

                <%})%>

                

            </div>
    
</body>



</html>